// Menu wrapper
.menu-list {
    width: 224px;
    .menu-item {
        margin-left: 0;
    }
}
// menu list
.icon {
    padding: 1px;
    width: 16px;
    margin-left: 0;
    display: inline-block;
    margin-right: 8px;
}

.menu-item {
    display: flex;
}

.menu-item:hover {
    border-radius: 0;
    text-align: left;
    width: 100%;
    background-color: rgba(22, 24, 35, 0.06);
}

// Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}
